body {
    padding-top:50px;
    font-family:Bariol;
    font-size:medium;
}

@font-face {
    font-family: "Bariol";
    src: url("../font/bariol.otf");
}

/*classe para os textos abaixo do slide de img*/
.box
{
    margin-top:10px;
}

/*Classe para deixar a imagem do banner um pouco escurecida*/
.overlay 
{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #000000;
    opacity: .7;
}

/*Classe para ajustar a posição do texto no Banner*/
.banner-center-text 
{
    height: 100%;
    padding-top:20%;
    padding-bottom:20%;
}
/*cor da fonte e fundo do passo a passo*/
.t
{
    background: linear-gradient(to bottom, #ffffff 0%,#207cca 31%,#207cca 31%,#2989d8 77%,#7db9e8 100%);
    min-height:150px;
    color:white;
}

.img-passo1
{
    height:52px;
    width:60px;
    float:left;
    margin-right:15px;
}

.img-passo2 {
    height: 55px;
    width: 70px;
    float: left;
    margin-right: 15px;
}

.img-passo3 {
    height: 60px;
    width: 62px;
    float: left;
    margin-right: 15px;
}

/*Clase para o botão da Home*/
.button-cad
{
    min-height:80px;
    min-width:400px;
    font-size:40px;
    font-weight:bold;
    background-color:orange;
    color:white;
}

.noticia
{
    height:200px;
}
.noticia:hover 
{
    opacity: 1;
    cursor:pointer;
}

.font-noticia
{
    font-size:20px;
    font-weight:bold;
    text-shadow:0.1em 0.1em #000000;
}