<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obter mais informações sobre como configurar seu aplicativo ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <!-- Conexão com o Banco de dados-->
    <connectionStrings>
    <add name="ConexaoConstruindo" connectionString ="Data Source=DESKTOP-LK1PMFC;Initial Catalog=construindomeufuturo;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

  <!--Direcionario usuarios offlines para home e logados para #  (definir pagina de login)
  <authentication mode="Forms">
    <forms defaultUrl="~/View/home.aspx" loginUrl="#"></forms>
  </authentication>
  -->
  <!--negar acesso a usuarios não autenticados
  <authorization>
    <deny users="?"></deny>
  </authorization> 
-->
</configuration>
