body {
    padding-top:50px;
    padding-bottom:50px;
    font-family:Bariol;
    font-size:medium;
}

/*classe para os textos abaixo do slide de img*/
.box
{
    margin-top:10px;
}

/*Classe para deixar a imagem do banner um pouco escurecida*/
.overlay 
{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #000000;
    opacity: .7;
}

/*Classe para ajustar a posição do texto no Banner*/
.banner-center-text 
{
    height: 100%;
    padding-top:20%;
    padding-bottom:20%;
}
/*cor da fonte e fundo do passo a passo*/
.t
{
    background: linear-gradient(to bottom, #ffffff 0%,#207cca 31%,#207cca 31%,#2989d8 77%,#7db9e8 100%);
    height: 100%;
    color:white;
}

.img-passo1
{
    height:52px;
    width:60px;
    float:left;
    margin-right:15px;
}

.img-passo2 {
    height: 55px;
    width: 70px;
    float: left;
    margin-right: 15px;
}

.img-passo3 {
    height: 60px;
    width: 62px;
    float: left;
    margin-right: 15px;
}